html {
  position: relative;
  min-height: 100%; 
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  align-content: center;
  background-color: #f7f7f7;
}

.gutter{
  width: 25%;
}

.main{
  width: 50%;
}
.top{
  margin-top: 5.625em;
  justify-content: flex-start;
}

.align-cent{
  display: flex;
  align-items: center;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5625em;
}

.profile{
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.ml-5{
  margin-left: 0.3125em;
}

.mr-5{
  margin-right: 0.3125em;
}

.mr{
  margin-right: 30%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 1em 1em 1em 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.skill-section{
  flex-direction: column;
}

.top-skills{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 100%;
  margin-left: 10%;
}

/* The progress container (grey background) */
.progress-container {
  height: 50%;
  width: 8px;
  background: #ccc;
  border-radius: 5px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  width: 0.5em;
  background: black;
  height: 0%;
  border-radius: 0.3125em;
}

a {
  color: #404040;
  text-decoration: none; /* no underline */
}

a:hover{
  color: #404040;
  text-decoration: none;
}

ul {
  padding: 0;
  white-space: nowrap;
}

li {
  list-style-type: none;
  margin-bottom: 1.5625em;
  margin-top: 1.5625em;
}

.last{
  margin-bottom: 37.5em;
}

.github{
  margin: 0 1.5625em;
  height: 2.5em;
  width: 2.5em;
  display: block;
}

.disabled{
  color: #9a9a9a;
}

.bold{
  font-weight: bold;
}

.inlinelink{
  color: #0366EE;
}

.inlinelink:hover{
  color: #0246a2;
  text-decoration: underline;
}

.project-title{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.table-col{
  width: 50%;
}

.table-margin{
  margin-left: 2.5rem;
}

.proof{
  width: 25%;
  object-fit: scale-down;
  border: 1px solid black;
  border-radius: 5px;
}

h2{
  text-decoration-line: underline;
}

nav{
  width: 100%;
}

.current{
  text-decoration-line: underline;
}

.nav-ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (max-width: 780px) {
  .gutter, .header{
    display: none;
  }

  .main{
    width: 100%;
    height: 100%;
    margin: 0 25px 0 25px;
  }

  .proof{
    width: 50%;
  }

  .top-skills{
    flex-direction: column;
  }

  .table-col{
    width: 100%;
  }

  .table-margin{
    margin: 0;
  }

}

